<span class="service dormant rows" data-price="<%= service.price  %>">
  <div class="small-6 text-right columns">
    <%= hidden_field_tag "service_ids[#{service.id}]", :track, :value => nil %>
    <span class="service-name"> <%= service.name %> </span>
  </div>
  <div class="small-6 text-left columns" >
    <span class="serviceprice"><%= number_to_currency(service.price)  %></span>
    <!-- <span class="minus hidden">&#45;</span> -->
    <!-- <span class="plus hidden">+</span> -->
  </div>
</span>
