<div class="text-center small-12 medium-8 large-5 small-centered row">
  <p>
  Select your services and calculate your total.
</p>
</div>

<% if current_user.try(:admin?)  %>
    <%= render 'layouts/icon_bar'  %>
  <% end %>
<div id="service-form" style="display:none;" class="panel small-12 medium-8 large-5 small-centered columns">

</div>
<div class="computer-container">

  <%= form_for @order do |f|  %>

  <div id="services" class="row">
    <%= render @services.sort_by(&:price), f: f  %>
  </div>

  <div class="row" id="total">
    <div class="small-6 columns text-right">
      <em id="totaltext">Total</em>
    </div>
    <div class="small-6 columns text-left">
      <span id="totalprice" data-total="">$0.00</span>
    </div>
  </div>
    <div class="small-12 small-centered order-button text-center">
      <%= f.button "Submit", class: "button success radius", data: { disable_with: "Saving..."} %>
    </div>
  <% end  %>
</div>

