<div class="text-center small-12 medium-8 large-5 small-centered row">
  <p>
  Select your services and calculate your total.
</p>
</div>

<% if current_user.try(:admin?)  %>
    <%= render 'layouts/icon_bar'  %>
  <% end %>
<div id="service-form" style="display:none;" class="panel small-12 medium-8 large-5 small-centered columns">

</div>
<div class="computer-container">

  <%= form_for @order do |f|  %>

  <div id="services" class="row">
    <%= render @services.sort_by(&:price), f: f  %>
  </div>

  <div class="row" id="total">
    <div class="small-6 columns text-right">
      <em id="totaltext">Total</em>
    </div>
    <div class="small-6 columns text-left">
      <span id="totalprice" data-total="">$0.00</span>
    </div>
  </div>
    <div class="small-12 small-centered order-button text-center">
      <%= f.button "Submit", class: "button success radius", data: { disable_with: "Saving..."} %>
    </div>
  <% end  %>
</div>



<ol class="joyride-list" data-joyride>
  <li data-id="firstStop" data-text="Next" data-options="tip_location: top; prev_button: false">
    <p>Hello and welcome to the Joyride documentation page.</p>
  </li>
  <li data-id="numero1" data-class="custom so-awesome" data-text="Next" data-prev-text="Prev">
    <h4>Stop #1</h4>
    <p>You can control all the details for you tour stop. Any valid HTML will work inside of Joyride.</p>
  </li>
  <li data-id="numero2" data-button="Next" data-prev-text="Prev" data-options="tip_location:top;tip_animation:fade">
    <h4>Stop #2</h4>
    <p>Get the details right by styling Joyride with a custom stylesheet!</p>
  </li>
  <li data-button="End" data-prev-text="Prev">
    <h4>Stop #3</h4>
    <p>It works as a modal too!</p>
  </li>
</ol>
