<div class="row service-show">
  <% @order.services.each do |service| %>
    <div class="small-6 columns">
    <div class="text-right">
      <%= service.name %>
    </div>
  </div>
    <div class="small-6 columns">
    <div class="text-left">
      <%= service.price %>
    </div>
  </div>
<% end %>

</table>
</div>
