<div class="row service-show">
  <div class="small-12 text-center">
    <h3 class="subheader">Order #<%= @order.id  %></h1>
  </div>
  <% @order.services.each do |service| %>
    <div class="small-6 columns">
    <div class="text-right">
      <%= service.name %>
    </div>
  </div>
  <div class="small-6 columns">
    <div class="text-left service-show-price">
      <%= number_to_currency(service.price) %>
    </div>
  </div>
<% end %>
<div class="total">
  <div class="small-6 columns text-right total-word">
    Total
  </div>
  <div class="small-6 columns text-left cost">
    <%= number_to_currency(@order.total)  %>
  </div>
</div>
</table>
</div>
