// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.title-row div {
  margin-bottom: 10px;
  font-style: bold;
}

.cart-insides {
    margin-bottom: 15px;
  }

.cart-text {
   line-height: 100px;
   height: 100px;   
}
.cart-label {
  bottom: 10px;
}

.cart-row {
-webkit-box-shadow: 6px 6px 14px 1px rgba(0,0,0,0.26);
-moz-box-shadow: 6px 6px 14px 1px rgba(0,0,0,0.26);
box-shadow: 6px 6px 14px 1px rgba(0,0,0,0.26);
  // border: 1px lightgrey solid;
}
.cart-image {
  margin: 10px 0;
  text-align: center;
}

.imagine {
  width: 100px;
}

.controls {
  position: relative;
  right: -50px;
  top: -50px;
}

.cart-image img {
  max-width: none;
  max-height: 80px;
  width: auto;
}

.total-text {
  font-size: 1.5em;
  font-style: bolder;
}

.cart-row {
  transition: all .5s;
  -webkit-transition: all .5s;
}



.cart-row {
  input:focus {
    // position: relative;
    // bottom: 40px;
    // left: 0px;
    width: 80px;
    font-size: 30px;
    background: transparent;
    outline-color: transparent;
    outline-style: none;
    border: none;
    overflow: hidden;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}

.purr {
  position: fixed;
  top: 30px;
  right: 100px;
  width: 250px;
  padding: 20px;
  background-color: #FCC;
  border: solid 2px #C66;
  &:first-letter { text-transform: uppercase; }
}

.cart-name{
  position: relative;
  top: 37px;
  a {
    color: black;
    text-decoration: underline;
  }
  text-align: left;
  font-style: bold;
}

.remove-button {
  transition: all .2s;
  -webkit-transition: all .2s;
  color: red;
  position: absolute;
  top: 85px;
  left: 40px;
  &:hover {
    color: darkred;
  }
}

.subtotal-text {
  font-size: 1.2em;
}
@-webkit-keyframes spaceboots {
	0% { color: black; }
	50% { color: orange; }
	100% { color: black; }
}

.add-to-cart-button {
  margin-top: 15px;
}

.quantity {
  transition: all .2s;
  -webkit-transition: all .2s;
  &:hover {
    h3 {
      -webkit-animation-name: spaceboots;
      -webkit-animation-duration: 0.8s;
      -webkit-transform-origin:50% 50%;
      -webkit-animation-iteration-count: once;
      -webkit-animation-timing-function: linear;
      top: 10px;
      font-size: 1.9em;
    }
    cursor: pointer;
  }
  text-align: center;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  font-style: bolder;
  position: relative;
  top: 17px;
  left: 12px;
  border: 1px lightgrey solid;
  h3 {
  transition: all .2s;
  -webkit-transition: all .2s;
  position: relative;
  top: 14px;
  text-align: center;
  }
  background: rgba(255,255,255,1);
background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
}
