.service {
  .service-name {
    text-overflow: ellipsis;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1; /* number of lines to show */
  }
  height: 50px;
  width: 50px;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.computer-container {
  font-size: 1.2em;
}

.arrow {
  visibility: hidden;
}

.active {
  color: green;
  // &:hover {
    //   color: darkgreen;
  // }
}

.order-button {
  margin-top: 20px;
}

.dormant {
  color: grey;
  // &:hover {
    //   color: darkslategrey;
  // }
}

.new-price-plus {
  color: lightgreen;
}


.new-price-minus {
  color: red;
}

#total-price {
  font-weight: bold;
}
