// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.service-show {
  font-size: 1.2em;
}

.service-show-price {
  color: green;
}

.admin-opts {
  list-style: none;
  margin-top: 10px;
}

.show-body-text {
  font-size: 1.2em;
  margin-bottom: 15px;
}

.show-label {
  position: relative;
  top: -1px;
}

.side {
  background-color: red;
  height: 100%
}

#quantity {
  font-size: 1.4em;
  height: 50px;
  margin: 0 auto;
  width: 100px;
  text-align: center;
}

.inactive {
  color: grey;
}

.inactive-label{
  background: rgb(190,190,190);
  margin-right: 5px;
}


.total {
  font-weight: bold;
  .total-word {
    font-style: italic;
  }
  .cost{
  }
}
