// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.service-show {
  font-size: 1.2em;
}

.service-show-price {
  color: green;
}

.side {
  background-color: red;
  height: 100%
}

.total {
  font-weight: bold;
  .total-word {
    font-style: italic;
  }
  .cost{
  }
}
