// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.page-header {
}

#container {

  margin: 0 auto;
  display: none;
}


.edit-image {
  img {
    height: 200px;
    width: auto;
  }
}

.ajax-fun {
  transition: all .5s;
}

#form-container {
  display: none;
}

.product-name a {
  color: black;
}

.base-cost-label {
  margin-right: 5px;
}

.edit-image {
  margin-bottom: 15px;
}

.top-bar-logo {
  // display: none;
  max-height: 28px;
  margin-bottom: 3px;
}

.image-upload-replace {
  display: block;
}

#upload-button {
  display: none;
}

#site-logo {
  margin-top: 15px;
  max-height: 100px;
  width: auto;
}

.duplicate-cost-label {
  background: lightcoral;
  margin-right: 5px;
}

.duplicate-cost {
  position: relative;

  .multiplier {
    font-size: .8em;
    font-style: italic;
    color: grey;
    position: absolute;
    right: -10;
    top: 3px;
  }
}

.show-label {
  width: 70px;
}
.nopacity {
  opacity: 0;
}

.product-container {
  overflow: auto;
  padding: 15px;
  text-align: center;
  // height: 300px;
  width: 200px;
  background: rgb(233,233,233);
  border: 1px solid lightgrey;
  margin-bottom: 15px;

  .product-image img {
    &:hover {

    }
    height: 150px;
    width: auto;
  }
}

.isotope {
}

.item {
}

