<div class="small-12 small-centered text-center">
  <h1>Edit Product</h1>
</div>

<div class="small-12 small-centered text-center edit-image">
  <%= image_tag @product.image_url(:thumb) %>
</div>

<%= render 'form'  %>

