<h1 class="small-12 medium-8 text-center large-6 small-centered columns ">New Product</h1>

<div class="small-12 small-centered text-center edit-image">
  <%= image_tag @product.image_url(:thumb) %>
</div>

<%= render 'form' %>
