<div class="row" id="nav-bar">
  <div class="small-12 small-centered text-center">
    <%= link_to "New Service", new_service_path, remote: true, id: "new-service-link", class: "button tiny radius pretty"%>
    <%= button_tag "", id: "edit-services", class: "fa fa-trash button tiny radius pretty"%>
</div>
